<!DOCTYPE html>
<html>
  <head>
    <title>Prediction Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='database.css') }}">

  </head>
  <body>
    <h2>All User Predictions</h2>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Mean Radius</th>
          <th>Mean Texture</th>
          <th>Mean Perimeter</th>
          <th>Mean Area</th>
          <th>Mean Smoothness</th>
          <th>Mean Compactness</th>
          <th>Mean Concavity</th>
          <th>Mean Concave Points</th>
          <th>Mean Symmetry</th>
          <th>Mean Fractal Dimension</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        {% for row in records %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
          <td>{{ row[9] }}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <a href="/">← Back to Tumor Diagnosis Assistant</a>
  </body>
</html>
